@page "{instructorid:int?}"
@model Duke_Queue.Pages.Home.InstructorHomeModel
@{
}
<form method="post">
    <!-- Button to redirect to Student Account page -->
    <button class="btn btn-outline-primary" name="InstructorAccount" asp-page-handler="MyAccount">My Account</button>
</form>

<br />

<form method="post">
    <!--Instructions for user-->
    <legend class="user-instruction">
        <div class="alert alert-dark" role="alert">
            Select one of your office hour sessions below to view information:
        </div>
    </legend>
    @if (ViewData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
    }
    <div class="user-select-professor">
        <!--populate table with instructors office hours-->
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Day: </th>
                    <th>Time Slot: </th>
                    <th>Location: </th>
                    <th>View Queue</th>
                    <th>Modify Queue</th>
                </tr>
            </thead>
            <tbody>
                 
            @{
                foreach (var officehour in Model.OfficeHours)
                {

                    //@officehour.OfficeHoursDate @officehour.TimeSlot
                        <tr>
                            
                            <td>@officehour.OfficeHoursDate</td>
                            <td>@officehour.TimeSlot</td>
                            <td>@officehour.Location</td>
                            <td> <a asp-page="ViewQueue" class="btn btn-primary" asp-route-officehourID="@officehour.OfficeHourID">Select</a></td>
                        </tr>
                }
            }
        </table>

        <a class="btn btn-secondary" href="/Home/AddOfficeHour">Add Office Hours</a>
 
        <!--Pick Instructor Button Click-->
        

        @*<button asp-page-handler="OnPostAddOfficeHours" class="btn btn-primary">
        Add Office Hour
        </button>*@
    </div>
</form>