@page
@model Duke_Queue.Pages.Home.ViewQueueModel
@{
}

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Student Name: </th>
            <th>Purpose: </th>
            <th>Ready to Meet</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var officehours in Model.OfficeHoursQueue)
            {

            <tr>



                <td>@officehours.StudentFirstName @officehours.StudentLastName </td>
                <td>@officehours.officeHoursQueuePurpose</td>
                <td>
                    <form method="post" asp-page-handler="AcceptStudent">
                        <input type="hidden" name="OfficeHourID" value="@officehours.OfficeHourID" />
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
 
                </td>
                <td> 
                    <form method="post" asp-page-handler="RemoveStudent">
                        <input type="hidden" name="OfficeHourID" value="@officehours.OfficeHourID" />
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </td>
                  

            </tr>
            }
        }
</table>
